body{
  font-family: Futura;
}
img{
  width: 500px;
  height: auto;
  border-radius: 60%;
}

header{
  background:rgba(0,0,0,0.8);
  color: white;
}

h1{
  margin: 0 0 0 4%;
  font-size: 45px;
}
#contact-header{
  text-align: center;
  margin-bottom: 3%;
}

#linkedInImg{
  width:150px;
  height: auto;
}

#text-padding{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  margin-left: 3%;
  text-align: left;
  font-size: 25px;
  display: inline-block;
}
#about-text{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  margin-left: 5%;
  text-align: justify;
  font-size: 15px;
  display: inline-block;
}

#profile-pic{
  margin-left: 23.5%;
}
#myContainer{
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
}