
body, html { 
  font-family: Futura;
  overflow-x: hidden; 
  overflow-y: auto;
}
img{
  width: 500px;
  height: auto;
}

header{
  background:rgba(0,0,0,0.8);
  color: white;
}

h1{
  margin: 0 0 0 4%;
  font-size: 45px;
}
#contact-header{
  text-align: center;
  margin-bottom: 3%;
}

#linkedInImg{
  width:150px;
  height: auto;
}

#text-padding{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  margin-left: 3%;
  text-align: left;
  font-size: 25px;
  display: inline-block;
}
#portfolio-padding{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  margin-left: 3%;
  text-align: left;
  font-size: 25px;
  height: 650px;
  display: inline-block;
  overflow: scroll;
}
#about-text{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  margin-left: 5%;
  text-align: justify;
  font-size: 15px;
  display: inline-block;
}

#contact-text{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  margin-left: 15%;
  text-align: justify;
  font-size: 15px;
  display: inline-block;
}

#profile-pic{
  margin-left: 23.5%;
}
#myContainer{
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
}

.icon-size{
  font-size: 150px;
  color: white;
}

.contact-links{
  margin: 25px;
}
.portfolio-div{
  display: block;
  background: rgba(0,0,0,0.4);
  border:1px solid black;
}
.circleImgs{
  border-radius: 60%;
}
.portImgs{
/*  float: left;
*/  width: 25%;
  height: auto;
}

.portDesc{
  /*display: inline-block;*/
  position: relative;
  right:0px;
  text-align: justify;
  font-size: 15px;
}