<div id="portfolio-padding">
  <h2>Projects</h2>
  <div class="portfolio-div">  
    <h4>Wubba Lubba 4 Square</h4>
    <a href={{wubbaLubbaLink}}>
      <img class="portImgs" src={{wubbaLubbaImg}}>
    </a>
  </div>
  <div class="portfolio-div">
    <h4>Accio Bike</h4>
    <a href={{accioBikeLink}}>
      <img class="portImgs" src={{accioBikeImg}}>
    </a>
  </div>
  <div class="portfolio-div">
    <h4>Artemis</h4>
    <a href={{artemisLink}}>
      <img class="portImgs" src={{artemisImg}}>
    </a>
  </div>
  <div class="portfolio-div">
    <h4>Euclid</h4>
    <a href={{euclidLink}}>
      <img class="portImgs" src={{euclidImg}}>
    </a>
  </div>
</div>


